*
!*/
!*.*
.env
/ASSETS/

__pycache__/
*.py[cod]
*.pyd
*.so
.Python
build/
dist/
results/
**/examples/

*.ply
*.png
*.gif
*.glb
*.exr
*.npz
wandb/
restir_NPBIR_v1/
shape_opt_irtk/
standard_NPBIR/
standard_NPBIR_reeval/
**/results_*/**
!**/results_*/stanford_orb/
!**/results_*/stanford_orb/*.json

