data
eval_data
slides
eval_results
partial_t_vis_results

*.mp4
*.pth

# 3D data files
*.ply
*.obj
*.mtl
*.stl
*.fbx
*.glb
*.gltf
*.dae
*.abc
*.usd
*.usda
*.usdc
*.usdz
*.3ds
*.blend
*.blend1
*.blend2
*.e57
*.las
*.laz
*.pts
*.xyz
*.pcd

# Python precompile
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg
*.egg-info/
dist/
build/
.eggs/
